/*General overriding*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav a {
    color: #ffffff;
}

.nav a:hover {
    -webkit-box-shadow: inset 0px 0px 0px 3px #ffffff;
    -moz-box-shadow: inset 0px 0px 0px 3px #ffffff;
    box-shadow: inset 0px 0px 0px 3px #ffffff;
}

/*Bootstrap overriding*/
.container-fluid {
    padding: 0;
}

/*Custom classes*/
.text-format {
    font-size: 1em;
    color: #6f6f6f;
    font-family: "Yu Gothic UI Semibold";
}

.text-format-large {
    font-size: 2em;
    color: #6f6f6f;
    font-family: "Yu Gothic UI Semibold";
}